 @model MVC.Models.Lot.LotViewModel

@{
    ViewBag.Title = @Model.Name;
    ViewBag.LotId = @Model.Id;
}

<h2>@Model.Name</h2>

<hr />
<div class="container">
    
    @{ Html.RenderPartial("_LotView", Model);}

    @if (User.Identity.IsAuthenticated
         && !Model.OwnerName.Equals(User.Identity.Name)
         && Model.State.Equals("Active"))
    {
        TempData["LotId"] = @Model.Id;
        Html.RenderPartial("_RateForm");
    }

    <div class="lot-btn-group">
        @if (Model.OwnerName.Equals(User.Identity.Name) && Model.State != "Sold")
        {
            if (ViewBag.CanEdit)
            {
                <a class="btn btn-default" role="button" href="@Url.Action("Edit", "Lot", new {id = Model.Id})">Edit</a>
            }
            else
            {
                <form action="@Url.Action("Sell", "Lot", new {id = @Model.Id})" method="post">
                    <input class="btn btn-default" type="submit" name="sell" value="Sell" />
                </form>
            }
            <form action="@Url.Action("Delete", "Lot", new {id = @Model.Id})" method="post">
                <input class="btn btn-default" type="submit" name="delete" value="Delete"/>
            </form>

        }
    </div>
    

    <div id="rates">
        <h4>Lot Rates</h4> 
        <table style="width:100%" >
            <tr id="rates-table">
                <th>Rate</th>
                <th>User</th> 
                <th>DateTime</th>
            </tr>
            @foreach (var rate in ViewBag.Rates)
            {
                <tr>
                    <td>@rate.RateSize</td>
                    <td>@rate.UserName</td> 
                    <td>@rate.Datetime</td>
                </tr>
            }
        </table>
    </div>
    
</div>


@section Scripts {
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.tmpl.js")"></script>
    <script>
        $(document).ready(function() {
            $('#rate-form').submit(function (event) {
                if (eval($('#RateSize').val()) <= 0)
                    return;
                event.preventDefault();
                var data = $(this).serialize();
                var url = $(this).attr('action');

                $.post(url,
                    data,
                    function (response) {
                        if (response == undefined)
                            return;
                        $('#price').html("<b>Price</b>: " + response.newPrice);
                        var rate = $('#rate-template').tmpl(response.rate);
                        rate.insertAfter( $('#rates-table'));
                    });
            });
            
        });
    </script>

    <script id="rate-template" type="text/x-jquery-tmpl">
        <tr>
            <td>${RateSize}</td>
            <td>${User}</td>
            <td>${Datetime}</td>
        </tr>
    </script>
}