@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello, @User.Identity.Name<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="@Url.Action("Index", "Profile")">My profile</a></li>
                <li><a href="@Url.Action("Create", "Lot")">Add lot</a></li>
                <li><a href="@Url.Action("Lots", "Profile")">My lots</a></li>
                <li><a href="@Url.Action("Rates", "Profile")">My rates</a></li>

                <li role="separator" class="divider"></li>
                
                <li><a href="@Url.Action("FavoriteLots", "Profile")">Favorite lots</a></li>
                <li><a href="@Url.Action("SoldLots", "Profile")">Sold lots</a></li>
                <li><a href="@Url.Action("BoughtLots", "Profile")">Bought lots</a></li>
                @if (User.IsInRole("Administrator"))
                {
                    <li role="separator" class="divider"></li>
                    <li><a href="@Url.Action("Users", "Admin")">Users edit(Admin)</a></li>
                }
                @if (User.IsInRole("Moderator"))
                {
                    <li role="separator" class="divider"></li>
                    <li><a href="@Url.Action("Lots", "Moderator")">Lots edit(Moderator)</a></li>
                }
                <li role="separator" class="divider"></li>
                <li>@Html.ActionLink("Log out", "LogOut", "Account")</li>
            </ul>
        </li>
    </ul>
}
else
{
<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Register", "Register", "Account")</li>
    <li>@Html.ActionLink("Log in", "LogIn", "Account")</li>
</ul>
}
